<!-- partial:../../partials/head/head.html -->
<!-- partial -->
<link rel="stylesheet" type="text/css" href="../../css/style-mobile.css">
<link rel="stylesheet" type="text/css" href="../../css/style-desktop.css" inline>
<link rel="stylesheet" type="text/css" href="../../css/style-hover.css" inline>
<title>Welcome to NexHealth</title>
</head>

<body>

	<!-- Page -->
	<table width="100%">
		<tr>
			<td>

				<!-- Header Full Width -->
				<table width="100%" class="onboarding__header">
					<tr>
						<td class="onboarding__header-padding">
							<table width="100%" class="pipe">
								<tr>
									<td class="pipe__cell">

										<!-- Branding NexHealth -->
										<table width="100%" class="branding branding--nexhealth">
											<tr>
												<td class="branding__cell">
													<a class="branding__link" href="https://www.nexhealth.com/" target="_blank">
														<img class="branding__logo branding__logo--nexhealth" src="https://storage.googleapis.com/nexassets/email/img/nexhealth-logo.png" alt="NexHealth" height="48">
													</a>
												</td>
											</tr>
										</table>
										<!-- Branding NexHealth End -->

										<!-- Headline -->
										<table width="100%" class="onboarding__headline">
											<tr>
												<td class="onboarding__headline-padding">
													<h6 class="h6 h6--xl">Hi There!</h6>
													<h2 class="h1">Thank you for signing up with us!</h2>
												</td>
											</tr>
										</table>
										<!-- Headline End -->

									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<!-- Header Full Width End -->

				<!-- Pipe -->
				<table width="100%" class="pipe">
					<tr>
						<td class="pipe__cell">

							<!-- Body -->
							<table width="100%" class="body">
								<tr>
									<td class="onboarding__body-padding onboarding__body-padding--start">
										<p class="p">Our team looks forward to working together to pursuit of making patient engagement, retainment and acquisition easier and better for your office!</p>
										<p class="p">Before we get you up a running there are a few things we have to do in preparation for our on-boarding process.</p>
									</td>
								</tr>
							</table>
							<!-- Body End -->

							<!-- Onboarding Steps -->
							<table width="100%" class="onboarding__steps">
								<tr>
									<td class="onboarding__steps-padding">
										<table width="100%">
											<tr>
												<td class="onboarding__steps-bullet">
													1
												</td>
												<td class="onboarding__steps-body">
													<p class="p">Install <a class="link link--underline link--secondary" href="https://www.teamviewer.com/en/download" target="_blank"><strong>TeamViewer</strong></a> to either your office’s main computer or server. This is how we will be able to access your machine to install our software as well perform any maintenance or fixes that may be needed in the future.</p>
												</td>
											</tr>
											<tr>
												<td class="onboarding__steps-bullet">
													2
												</td>
												<td class="onboarding__steps-body">
													<p class="p">Please have available the Password and Username of the machine that you install TeamViewer program on.</p>
												</td>
											</tr>
											<tr>
												<td class="onboarding__steps-bullet">
													3
												</td>
												<td class="onboarding__steps-body">
													<p class="p">
														Provide login Credentials for the EMR used in your office.
													</p>
													<p class="p"><strong>Eaglesoft</strong> users must contact Eaglesoft support (<a href="tel:18004755036" class="remove-apple-link">1-800-475-5036</a>) to <strong>obtain a DATABASE password</strong>. Without this password we will not be able to complete the installation.</p>
													<p class="p"><strong>Curve Dental</strong> users must provide their <a class="remove-apple-link" href="www.curvehero.com" target="_blank">curvehero.com</a> url. This is the unique URL for your Curve Dental portal.</p>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							<!-- Onboarding Steps End -->

							<!-- Body -->
							<table width="100%" class="body">
								<tr>
									<td class="onboarding__body-padding">
										<p class="p">We ask that these steps and information are completed and ready for each individual office prior to our first call.	 This is to ensure the best possible experience for your staff.</p>
										<p class="p">After these steps are performed and we have our first call, your practice will be put in queue for the installation of the Nexhealth platform. When that is completed we will be in touch again where we’ll schedule some time (about an hour) to work with and train your staff with our software.</p>
										<p class="p">Always never hesitate to reach out to me if you have any questions or concerns. My job here is to help and make you as successful as possible with Nexhealth.</p>
										<p class="p onboarding__signature">Best,<br>
											James Van Allen<br>
											<span class="onboarding__title">Technical Operations</span>
										</p>
									</td>
								</tr>
							</table>
							<!-- Body End -->

							<!-- Signature -->
							<table class="sig__table">
								<tr>
									<td class="sig__td">
										<img class="sig__logo" src="https://storage.googleapis.com/nexassets/email-signature/nexhealth-logo.png" alt="NexHealth" width="64">
									</td>
									<td class="sig__td">
										<img class="sig__icon--phone" src="https://storage.googleapis.com/nexassets/email-signature/phone--fill.png" alt="P">
										<a class="sig__phone sig__link link link--secondary" href="tel:6316714074"></i>631 671 4074</a>
									</td>
									<td class="sig__td">
										<img class="sig__icon--mail" src="https://storage.googleapis.com/nexassets/email-signature/mail--fill.png" alt="M">
										<a class="sig__email sig__link link link--secondary" href="mailto:jallen@nexhealth.com">jallen@nexhealth.com</a>
									</td>
								</td>
							</tr>
						</table>
						<!-- Signature End -->

					</td>
				</tr>
			</table>
			<!-- Pipe End -->

		</td>
	</tr>
</table>
<!-- Page End -->

</body>
</html>
