<!-- partial:../../partials/head/head.html -->
<!-- partial -->
<link rel="stylesheet" type="text/css" href="../../css/style-mobile.css">
<link rel="stylesheet" type="text/css" href="../../css/style-desktop.css" inline>
<link rel="stylesheet" type="text/css" href="../../css/style-hover.css" inline>
</head>

<body>
	<table width="100%">
		<tr>
			<td>

				<!-- Pipe -->
				<table width="100%" class="pipe">
					<tr>
						<td class="pipe__cell">

							<!-- Header Provider -->
							<table width="100%" class="branding">
								<tr>
									<td class="branding__cell">
										<a href="http://rockefellerdentalgroup.com/" class="branding__link" target="_blank">
											<img class="branding__logo" src="https://storage.googleapis.com/nexassets/custom/rockefeller-dental-group/logo-rockefeller-dental-group-bw.png" alt="Rockefeller Dental Group"/>
										</a>
									</td>
								</tr>
							</table>
							<!-- Header Provider End -->

							<!-- Body -->
							<table width="100%" class="body">
								<tr>
									<td class="body__cell">
										<h1 class="h1">Matt, you have an upcoming appointment with Dr. Klasfeld. Please take a moment to review and confirm the details of your appointment.</h1>
									</td>
								</tr>
							</table>
							<!-- Body End-->

							<!-- partial:../../partials/divider/divider-padded.html -->
							<!-- partial -->

							<!-- partial:../../partials/appt/appt-confirm.html -->
							<!-- partial -->

							<!-- partial:../../partials/divider/divider-padded.html -->
							<!-- partial -->

							<!-- partial:../../partials/social-links/social-links.html -->
							<!-- partial -->

							<!-- partial:../../partials/divider/divider-padded.html -->
							<!-- partial -->

							<!-- partial:../../partials/footer/footer-provider.html -->
							<!-- partial -->

						</td>
					</tr>
				</table>
				<!-- Pipe End -->

			</td>
		</tr>
	</table>
</body>
</html>
