<!-- Survey -->
<table width="100%" class="survey">
  <tr>
    <td class="survey__cell">
      <table width="100%">
        <tr>
          <td class="survey__background">
            <table width="100%">
              <tr class="survey__flex">
                <td class="survey__text-wrap">
                  <h1 class="survey__heading">Thank you for choosing us!</h1>
                  <p class="survey__subhead">
                    We are always looking for things we can change and new services we can offer. Please help us by completing a quick survey.
                  </p>
                  <a class="btn btn--lg btn--primary" href="APPTSURVEYLINK" target="_blank">Rate your appointment</a>
                </td>
                <td class="survey__img-wrap">
                  <img class="survey__img" src="https://storage.googleapis.com/nexassets/email/img/survey-illustration.png">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- Survey End -->
