<!-- Footer Mailchimp -->
<table width="100%">
  <tr>
    <td class="footer__top-padding"></td>
    <td class="footer__top-padding"></td>
  </tr>
</table>
<table width="100%" class="footer">
  <tbody class="footer__tbody">
    <tr class="footer__left__tr">
      <td class="footer__left__td">
        <table>
          <tr>
            <td class="footer__social-header">
              <p class="footer__p">
                <strong>Follow Us</strong>
              </p>
            </td>
            <td class="footer__social-button">
              <a class="btn btn--img" href="https://twitter.com/nexhealthhq" target="_blank">
                <img class="footer__social-button-img" src="https://storage.googleapis.com/nexassets/email/social-icons/twitter--gray.png" alt="Twitter" />
                <img class="footer__social-button-img--hover" src="https://storage.googleapis.com/nexassets/email/social-icons/twitter.png" alt="Twitter" />
              </a>
            </td>
            <td class="footer__social-button">
              <a class="btn btn--img" href="https://www.facebook.com/nexhealth/" target="_blank">
                <img class="footer__social-button-img" src="https://storage.googleapis.com/nexassets/email/social-icons/facebook--gray.png" alt="Facebook" />
                <img class="footer__social-button-img--hover" src="https://storage.googleapis.com/nexassets/email/social-icons/facebook.png" alt="Facebook" />
              </a>
            </td>
            <td class="footer__social-button">
              <a class="btn btn--img" href="https://www.linkedin.com/company-beta/5366106/" target="_blank">
                <img class="footer__social-button-img" src="https://storage.googleapis.com/nexassets/email/social-icons/linkedin--gray.png" alt="LinkedIn" />
                <img class="footer__social-button-img--hover" src="https://storage.googleapis.com/nexassets/email/social-icons/linkedin.png" alt="LinkedIn" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="footer__right__tr">
      <td class="footer__right__td">
        <a class="btn btn--img" href="http://www.nexhealth.com" target="_blank">
          <img class="footer__logo-img footer__logo-img--nexhealth" src="https://storage.googleapis.com/nexassets/email/img/nexhealth-logo-gray.png" alt="NexHealth" width="82" >
          <img class="footer__logo-img--hover footer__logo-img--nexhealth" src="https://storage.googleapis.com/nexassets/email/img/nexhealth-logo.png" alt="NexHealth"
          width="82"/>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<!-- Footer Mailchimp End -->
