<!-- App Store Buttons -->
<table class="app-store-buttons">
  <tr>
    <td class="app-store-buttons__btn">
      <a class="btn" href="http://bit.ly/nexhealth-app" target="_blank">
        <img src="https://storage.googleapis.com/nexassets/email/img/app-store-btn.png" width="150px" alt="App Store">
      </a>
    </td>
    <td class="app-store-buttons__btn">
      <a class="btn" href="http://bit.ly/nex-app" target="_blank">
        <img src="https://storage.googleapis.com/nexassets/email/img/google-play-btn.png" width="150px" alt="Google Play">
      </a>
    </td>
  </tr>
</table>
<!-- App Store Buttons End -->
