<!-- partial:../../partials/head/head.html -->
<!-- partial -->
</head>

<body>
	<table>
		<tr>
			<td class="email">

<!-- Logo -->
<table width="100%" style="padding: 32px 16px 16px 16px;">
	<tr>
		<td align="center" width="50%">
			<img src="<%= @inst.widelogo.url(:medium) %>" alt="<%= @inst.name %>" width="200px" style="font-size: 23.04px; letter-spacing: -0.01em; font-weight: 400; line-height: 1.25; max-width: 200px; max-height: 72px; display: block; margin: 0; object-fit: contain;"/>
		</td>
	</tr>
</table>
<!-- Logo End -->

<!-- Card Container -->
<table width="100%" style="padding: 16px" align="center">
	<tr>
		<td align="center">

			<!-- Background -->
			<table width="" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#EDEEEE" style="border-radius: 8px; padding: 56px 48px 56px 48px; margin: 0 auto">
				<tr>
					<td>
						<h1 style="font-family: Roboto, sans-serif; color: #515253; font-weight: 300; font-size: 23.04px; max-width: 12em; line-height: 120%; margin: 0; margin-bottom: 16px;">Thank you for choosing us!</h1>
						<p style="font-family: Roboto, sans-serif; color: #515253; font-weight: 300; font-size: 16px; max-width: 40em; line-height: 150%; margin: 0; margin-bottom: 16px;">
							We are always looking for things we can change and new services we can offer. Please help us by completing a quick survey.
						</p>
						<!-- Button -->
						<a href="<%= @url %>" style="font-family: Roboto, sans-serif; color: #FFFFFF; background-color:#70D47D; outline: none; border: 0; font-size: 16px; padding: 16px 32px; margin: 0 auto; font-weight: 400; align-items: center; text-decoration: none; display: inline-block; border-radius: 48px;" class="button button-primary">Rate your appointment
						</a>
						<!-- Button End -->
					</td>
					<td>
						<img width="180px" src="https://storage.googleapis.com/nexassets/email/img/survey-illustration.png">
					</td>
				</tr>
			</table>
			<!-- Background End -->

		</td>
	</tr>
</table>
<!-- Card Container End -->

<!-- Footer-->
<table width="100%">
	<tr>
		<td class="footer-container" align="center" width="100%" style="vertical-align: middle; display: flex; flex-direction: row; justify-content: space-between; align-items: center; flex-wrap: wrap; padding-left: 48px; padding-right: 48px; box-sizing: border-box;">
			<a class="footer-logo" href="http://www.nexhealth.com" alt="NexHealth" style="display: inline-block; border: 0; padding: 0; vertical-align: middle; margin-left: auto; margin-right: auto;">
				<img src="https://storage.googleapis.com/nexassets/email/img/nexhealth-logo-gray.png" alt="Powered by NexHealth" width="82px" style="font-family: Roboto, sans-serif; font-size: 10.9232px; font-weight: 300; letter-spacing: 0.03em; max-height: 32px;"
				/>
			</a>
		</td>
	</tr>
</table>
<!-- Footer End-->
