<table>
  <tr>
    <td class="time-slots time-slots--padded">

      <!-- Doctor's Availability -->
      <table width="100%">

        <!-- Nav -->
        <tr class="time-slots__flex">
          <td class="time-slots__td time-slots__td--eyebrow">
            <h6 class="time-slots__eyebrow">DOCTOR'S AVAILABILITY</h6>
          </td>
          <td class="time-slots__td time-slots__td--nav">
            <table width="100%">
              <tr>
                <td width="5%">
                </td>
                <td width="30%">
                  <h6 class="time-slots__eyebrow">TUE</h6>
                  <p class="time-slots__day">Nov 8</p>
                </td>
                <td width="30%">
                  <h6 class="time-slots__eyebrow">WED</h6>
                  <p class="time-slots__day">Nov 9</p>
                </td>
                <td width="30%">
                  <h6 class="time-slots__eyebrow">THU</h6>
                  <p class="time-slots__day">Nov 10</p>
                </td>
                <td width="5%">
                  <a href="#" class="time-slots__arrow-right">
                    <img src="https://storage.googleapis.com/nexassets/email/img/arrow-right.png" height="11px">
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- Doctor's Card and Timeslots -->
        <tr class="time-slots__flex">
          <td class="time-slots__td time-slots__td--doctor-card">

            <!-- Doctor's Card -->
            <table width="100%">
              <tr>
                <td class="doctor-card__avatar">
                  <img class="doctor-card__avatar-img" src="https://storage.googleapis.com/nexassets/app/img/icon/avatar.svg">
                </td>
                <td class="doctor-card__info">
                  <h6 class="time-slots__eyebrow">DENTIST</h6>
                  <h4 class="doctor-card__name">Dr. Daniel Noor</h4>
                  <p class="doctor-card__address">
                    <span class="apple-links">45 Park Avenue</span> 
                    <br>
                    <span class="apple-links">Proef. Unit 1</span> 
                    <br>
                    <span class="apple-links">Corner of 37th Street</span> 
                    <br>
                    <span class="apple-links">New York, NY 10016</span> 
                    <br>
                    <span class="apple-links">212-779-7743</span> 
                    <br>
                    <a class="link link--secondary link--underline" href="http://www.smilecafeny.com/" target="_blank">www.smilecafeny.com</a>
                  </p>
                </td>
              </tr>
            </table>
          </td>

          <!-- Time-slots -->
          <td class="time-slots__td time-slots__td--slots">
            <table width="100%">
              <tr>
                <td width="5%"></td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td width="5%"></td>
              </tr>
              <tr>
                <td width="5%"></td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td width="5%"></td>
              </tr>
              <tr>
                <td width="5%"></td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td width="5%"></td>
              </tr>
              <tr>
                <td width="5%"></td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td width="5%"></td>
              </tr>
              <tr>
                <td width="5%"></td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot">12:00 <span class="period">PM</span></a>
                </td>
                <td width="5%"></td>
              </tr>
              <tr>
                <td width="5%"></td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot time-slots__more">More
                    <img src="https://storage.googleapis.com/nexassets/email/img/arrow-down.png" class="time-slots__arrow-down">
                    <img class="time-slots__arrow-down-inverse" src="https://storage.googleapis.com/nexassets/email/img/arrow-down-inverse.png">
                  </a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot time-slots__more">More
                    <img src="https://storage.googleapis.com/nexassets/email/img/arrow-down.png" class="time-slots__arrow-down">
                    <img class="time-slots__arrow-down-inverse" src="https://storage.googleapis.com/nexassets/email/img/arrow-down-inverse.png">
                  </a>
                </td>
                <td class="time-slots__slot-container">
                  <a href="#" class="time-slots__slot time-slots__more">More
                    <img src="https://storage.googleapis.com/nexassets/email/img/arrow-down.png" class="time-slots__arrow-down">
                    <img class="time-slots__arrow-down-inverse" src="https://storage.googleapis.com/nexassets/email/img/arrow-down-inverse.png">
                  </a>
                </td>
                <td width="5%"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



<!-- partial:../../partials/buttons/book-appointment.html -->
<!-- partial -->
