<!-- partial:../../partials/head/head.html -->
<!-- partial -->
<link rel="stylesheet" type="text/css" href="../../css/style-mobile.css">
<link rel="stylesheet" type="text/css" href="../../css/style-desktop.css" inline>
<link rel="stylesheet" type="text/css" href="../../css/style-hover.css" inline>
</head>

<body>
  <table width="100%" class="email__table">
    <tr>
      <td class="email__td">

				<!-- partial:../../partials/header/header-provider.html -->
				<!-- partial -->

				<!-- Header -->
				<table width="100%">
					<tr>
						<td class="header header--padded">
							<h1 class="h1">It’s time for your dental cleaning!</h1>
						</td>
					</tr>
				</table>
				<!-- Header End -->

				<!-- Text Body Copy -->
				<table width="100%">
					<tr>
						<td class="body body--padded">
							<p class="p">Your dental health is important to us. You are overdue your dental cleaning, preventive dental, and oral health examination for 2016. Please see some times below for when my calendar is open and book an appointment.</p>
						</td>
					</tr>
				</table>

				<!-- partial:../../partials/time-slots/time-slots.html -->
				<!-- partial -->

				<!-- partial:../../partials/divider/divider-padded.html -->
				<!-- partial -->

				<!-- partial:../../partials/footer/footer-provider.html -->
				<!-- partial -->
			</td>
		</tr>
	</table>
</body>
</html>
