<!-- partial:../../partials/head/head.html -->
<!-- partial -->
</head>

<body>
	<table>
		<tr>
			<td class="email">

<!-- Card Container -->
<table width="100%" style="padding: 16px; padding-top: 24px;" align="center">
	<tr>
		<td align="center">

			<!-- Background -->
			<table width="" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#EDEEEE" style="border-radius: 8px; padding: 56px 48px 56px 48px; margin: 0 auto">
				<tr>
					<td>
						<h1 style="font-family: Roboto, sans-serif; color: #515253; font-weight: 300; font-size: 23.04px; max-width: 12em; line-height: 120%; margin: 0; margin-bottom: 16px;">A patient has completed your survey.</h1>
						<p style="font-family: Roboto, sans-serif; color: #515253; font-weight: 300; font-size: 16px; max-width: 40em; line-height: 150%; margin: 0; margin-bottom: 16px;">
							Check the Survey tab in your NexHealth dashboard to read the completed survey.
						</p>

						<!-- Button -->
						<a href="https://nexhealth.com/app/surveys" style="font-family: Roboto, sans-serif; color: #FFFFFF; background-color:#70D47D; outline: none; border: 0; font-size: 16px; padding: 16px 32px; margin: 0 auto; font-weight: 400; align-items: center; text-decoration: none; display: inline-block; border-radius: 48px;" class="button button-primary">Go to your dashboard
						</a>
						<!-- Button End -->

					</td>
					<td>
						<img width="180px" src="https://storage.googleapis.com/nexassets/email/img/survey-illustration.png">
					</td>
				</tr>
			</table>
			<!-- Background End -->

		</td>
	</tr>
</table>
<!-- Card Container End -->

<!-- Footer -->
<table width="100%" style="padding: 0 16px;">
	<tr>
		<td align="center" width="100%">
			<a href="http://www.nexhealth.com" alt="NexHealth" style="border: 0; margin: 0;">
				<img src="https://storage.googleapis.com/nexassets/email/img/nexhealth-logo.png" alt="Powered by NexHealth" width="82px" style="font-size: 10.9232px; font-weight: 300; letter-spacing: 0.03em; max-height: 32px;">
			</a>
		</td>
	</tr>
</table>
<!-- Footer End -->
