<!-- partial:../../partials/head/head.html -->
<!-- partial -->
<link rel="stylesheet" type="text/css" href="../../css/style-mobile.css">
<link rel="stylesheet" type="text/css" href="../../css/style-desktop.css" inline>
<link rel="stylesheet" type="text/css" href="../../css/style-hover.css" inline>
</head>

<body>
  <table width="100%">
    <tr>
      <td>

        <!-- Pipe -->
        <table width="100%" class="pipe">
          <tr>
            <td class="pipe__cell">

              <!-- partial:../../partials/header/header-provider.html -->
              <!-- partial -->

              <!-- Header -->
              <table width="100%" class="header">
                <tr>
                  <td class="header__cell">
                    <h2 class="h2 h2--normal">You have an outstanding balance of $180.00.</h2>
                  </td>
                </tr>
              </table>
              <!-- Header End -->

              <!-- Body -->
              <table width="100%" class="body">
                <tr>
                  <td class="body__cell">
                    <p class="p">
                      <strong>Hi John Doe,</strong><br>
                      Your health insurance claim for your appointment with Dr. Noor has been finalized. Here is your outstanding balance.
                    </p>
                  </td>
                </tr>
              </table>
              <!-- Body End -->

              <table class="invoice">
                <tr>
                  <td class="invoice__cell">
                    <table width="100%">
                      <thead>
                        <tr>
                          <th>
                            <h6 class="invoice__eyebrow">Description</h6>
                          </th>
                          <th>
                            <h6 class="invoice__eyebrow">Provider</h6>
                          </th>
                          <th>
                            <h6 class="invoice__eyebrow">Date</h6>
                          </th>
                          <th>
                            <h6 class="invoice__eyebrow invoice__eyebrow--amount">Amount</h6>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="invoice__td-padding"></td>
                          <td class="invoice__td-padding"></td>
                          <td class="invoice__td-padding"></td>
                          <td class="invoice__td-padding"></td>
                        </tr>
                        <tr class="invoice__tr">
                          <td class="invoice__description">Dental cleaning</td>
                          <td class="invoice__provider">Dr. Noor</td>
                          <td class="invoice__date">May 26 2017</td>
                          <td class="invoice__amount">$40.00</td>
                        </tr>
                        <tr class="invoice__tr">
                          <td class="invoice__description">Cavities filling</td>
                          <td class="invoice__provider">Dr. Noor</td>
                          <td class="invoice__date">May 26 2017</td>
                          <td class="invoice__amount">$140.00</td>
                        </tr>
                        <tr>
                          <td class="invoice__td-padding"></td>
                          <td class="invoice__td-padding"></td>
                          <td class="invoice__td-padding"></td>
                          <td class="invoice__td-padding"></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="invoice__tfoot-td invoice__total">Total</td>
                          <td class="invoice__tfoot-td"></td>
                          <td class="invoice__tfoot-td"></td>
                          <td class="invoice__tfoot-td invoice__total-amount">$180.00</td>
                        </tr>
                      </tfoot>
                    </table>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td class="invoice__due-date">Please pay your outstanding balance by June 23, 2017.</td>
                  <td class="invoice__button button button--padded"><a class="btn btn--lg btn--primary" href="" target="_blank">Pay invoice</a></td>
                </tr>
              </table>

              <!-- Button -->
              <table width="100%" class="button">
                <tr>
                  <td class="button__cell button__center">

                  </td>
                </tr>
              </table>
              <!-- Button End -->

              <!-- partial:../../partials/divider/divider-padded.html -->
              <!-- partial -->

              <!-- partial:../../partials/footer/footer-provider.html -->
              <!-- partial -->

            </td>
          </tr>
        </table>
        <!-- Pipe End -->

      </td>
    </tr>
  </table>
</body>
</html>
