<!-- partial:../../partials/head/head.html -->
<!-- partial -->
<link rel="stylesheet" type="text/css" href="../../css/style-mobile.css">
<link rel="stylesheet" type="text/css" href="../../css/style-desktop.css" inline>
<link rel="stylesheet" type="text/css" href="../../css/style-hover.css" inline>
<title>Welcome to NexHealth</title>
</head>

<body>
	<table width="100%">
		<tr>
			<td>

				<!-- Pipe -->
				<table width="100%" class="pipe">
					<tr>
						<td class="pipe__cell">

							<!-- partial:../../partials/header/header-nexhealth.html -->
							<!-- partial -->

							<!-- Body -->
							<table width="100%" class="body">
								<tr>
									<td class="body__cell">
										<p class="p">
											To activate your NexHealth account, please visit this link:<br>
											<a class="link link--underline" href="<%= @url %>"><%= @url %></a>
										</p>
										<p class="p">
											Thank you for choosing NexHealth. We're here to help, with any questions or comments, please email <a class="link link--underline link--secondary" href="mailto:hello@nexhealth.com">hello@nexhealth.com</a> or reply back to this email.
										</p>
									</td>
								</tr>
							</table>
							<!-- Body End -->

							<!-- partial:../../partials/divider/divider-padded.html -->
							<!-- partial -->

							<!-- partial:../../partials/footer/footer-no-logo.html -->
							<!-- partial -->

						</td>
					</tr>
				</table>
				<!-- Pipe End -->

			</td>
		</tr>
	</table>
</body>
</html>
