<!-- partial:../../partials/head/head.html -->
<!-- partial -->
<link rel="stylesheet" type="text/css" href="../../css/style-mobile.css">
<link rel="stylesheet" type="text/css" href="../../css/style-desktop.css" inline>
<link rel="stylesheet" type="text/css" href="../../css/style-hover.css" inline>
</head>

<body>
  <table width="100%">
    <tr>
      <td>

        <!-- Pipe -->
        <table width="100%" class="pipe">
          <tr>
            <td class="pipe__cell">

              <!-- partial:../../partials/header/header-nexhealth.html -->
              <!-- partial -->

              <!-- partial:../../partials/header/header-provider.html -->
              <!-- partial -->

              <!-- partial:../../partials/header/header-nexhealth-provider.html -->
              <!-- partial -->

              <!-- Body -->
              <table width="100%" class="body">
                <tr>
                  <td class="body__cell">
                    <h2 class="h2">Hi PATIENTFIRSTNAME</h2>
                    <p class="p">We see that you're busy and had to cancel your appointment. Well, your health is important, so why not find another time?</p>
                    <p class="p">Don't worry, you don't have to call the doctor's office. With the NexHealth app, you can reschedule your appointment with a tap, check into your doctor's office, and even make your co-payment. Follow the links below to download our app and book an appointment!</p>
                  </td>
                </tr>
              </table>
              <!-- Body End -->

              <!-- partial:../../partials/divider/divider-padded.html -->
              <!-- partial -->

              <!-- partial:../../partials/social-links/social-links.html -->
              <!-- partial -->

              <!-- partial:../../partials/divider/divider-padded.html -->
              <!-- partial -->

              <!-- partial:../../partials/buttons/rate-appointment.html -->
              <!-- partial -->

              <!-- partial:../../partials/survey/survey.html -->
              <!-- partial -->

              <!-- Header -->
              <table width="100%" class="header">
                <tr>
                  <td class="header__cell">
                    <h2 class="h2">Time for your annual check up!</h2>
                  </td>
                </tr>
              </table>
              <!-- Header End -->

              <!-- Body -->
              <table width="100%" class="body">
                <tr>
                  <td class="body__cell">
                    <!-- Msg Recall starts -->
                    <p class="p">Sorry if that was anticlimactic, Eric Thompson. What can we say? We’re psyched about your health.</p>
                    <p class="p">Book your check up here. Quick, before the excitement fades!</p>
                    <!-- Msg Recall ends -->
                  </td>
                </tr>
              </table>
              <!-- Body End -->

              <!-- partial:../../partials/time-slots/time-slots.html -->
              <!-- partial -->

              <!-- partial:../../partials/appt/appt-confirm.html -->
              <!-- partial -->

              <!-- partial:../../partials/divider/divider-padded.html -->
              <!-- partial -->

              <!-- partial:../../partials/footer/footer-mailchimp.html -->
              <!-- partial -->

              <!-- partial:../../partials/divider/divider-padded.html -->
              <!-- partial -->

              <!-- partial:../../partials/footer/footer-nexhealth.html -->
              <!-- partial -->

              <!-- partial:../../partials/divider/divider-padded.html -->
              <!-- partial -->

              <!-- partial:../../partials/footer/footer-no-logo.html -->
              <!-- partial -->

              <!-- partial:../../partials/divider/divider-padded.html -->
              <!-- partial -->

              <!-- partial:../../partials/footer/footer-provider.html -->
              <!-- partial -->

              <!-- partial:../../partials/divider/divider-padded.html -->
              <!-- partial -->

              <!-- partial:../../partials/footer/footer-sendgrid.html -->
              <!-- partial -->

            </td>
					</tr>
				</table>
				<!-- Pipe End -->

			</td>
		</tr>
	</table>
</body>
</html>
